<launch>
  <param
    name="robot_description"
    command="$(find xacro)/xacro '$(find mobile_arm_description)/urdf/mobile_arm.urdf.xacro' fixed_base_diagnostic:=true disable_arm_gravity:=true disable_chassis_gravity:=false simple_chassis_collision:=false" />
  <node
    name="joint_state_publisher_gui"
    pkg="joint_state_publisher_gui"
    type="joint_state_publisher_gui" />
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    output="screen" />
</launch>
